<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>บทพากย์ - ST Dub Team</title>
    <link rel="shortcut icon" href="https://i.ibb.co/nnJTt0v/logo.png" type="image/png">
    <meta property="og:title" content="บทพากย์ - ST Dub Team" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= header_url %>" />
    <meta property="og:site_name" content="ST Dub Team" />
    <meta property="og:image" content="<%= thumnail_url %>" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="บทพากย์ - ST Dub Team" />
    <meta name="twitter:url" content="<%= header_url %>" />
    <meta name="twitter:image" content="<%= thumnail_url %>" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@400;700&display=swap');

        body {
            background-color: #111111;
            font-family: 'Sarabun', sans-serif;
            margin: 0;
        }

        .header {
            background-color: #202020;
            width: 100%;
            height: 90px;
            position: fixed
        }

        .img_header {
            width: 80px;
            position: absolute;
            top: 2px;
            left: 20px;
        }

        .text_header {
            color: #ebebeb;
            position: absolute;
            top: 12px;
            left: 110px;
            font-size: 23px;
        }

        .button_create_header {
            text-decoration: none;
        }

        .button_create_text_header {
            background-color: #5e5e5e;
            color: #f1f1f1;
            font-size: 14px;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 8px;
            padding-bottom: 8px;
            border-radius: 6px;
            border-style: solid;
            border-width: 2px;
            border-color: #7e7e7e;
            position: fixed;
            bottom: 10px;
            right: 20px;
            box-shadow: #202020 0 0 5px;
            transition: 0.2s;
        }

        .button_create_text_header:hover {
            background-color: #f0f0f0;
            color: #303030;
            border-color: #bbbbbb;
            box-shadow: #e2e2e2 0 0 2px;
        }

        .header_space {
            height: 100px;
        }

        .title {
            font-weight: 700;
            font-size: 30px;
            color: #f3f3f3;
            text-align: center;
            margin-top: 20px;
            margin-bottom: 40px;
        }

        .list {
            text-decoration: none;
            text-align: center;
        }

        .list_script {
            background-color: #2e2e2e;
            border-radius: 15px;
            border-style: solid;
            border-color: #4b4b4b;
            border-width: 1px;
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left: 15px;
            padding-right: 15px;
            margin-top: 7px;
            margin-bottom: 7px;
            margin-left: 12px;
            margin-right: 12px;
            display: inline-block;
            transition: 0.2s;
        }

        .list_script:hover {
            background-color: #474747;
            border-color: #696969;
            box-shadow: #666666 0px 0px 5px;
        }

        .list_script_thumnail {
            width: 300px;
            background-color: #838383;
            border-radius: 10px;
            margin-left: 30px;
            margin-right: 30px;
            box-shadow: #474747 0px 0px 5px;
        }

        .list_script_title {
            color: #f3f3f3;
            font-size: 18px;
            text-align: center;
            font-weight: 700;
            margin-top: 15px;
            margin-bottom: 5px;
            margin-left: 27px;
            width: 300px;
            height: 45px;
            overflow: hidden;
        }
    </style>
</head>

<body>
    <div class="header">
        <img class="img_header" src="https://i.ibb.co/nnJTt0v/logo.png">
        <h1 class="text_header">บทพากย์ ST Dub Team</h1>
    </div>
    <div class="header_space"></div>
    <div id="list_scripts"></div>
    <a class="button_create_header" href="/create">
        <p class="button_create_text_header">สร้างบทพากย์</p>
    </a>
    <script>
        async function get_script_list() {
            let response = await fetch(location.protocol + "//" + location.hostname + '/api/scripts_list.json')
            let scripts_list = await response.json()
            for (let i = 0; i < scripts_list.length; i++) {
                let response_data = await fetch(location.protocol + "//" + location.hostname + '/api/char_scripts/' + scripts_list[i] + '.json')
                let script_data = await response_data.json()
                document.getElementById("list_scripts").innerHTML += `<a class="list" href="/id/${scripts_list[i]}">
        <div class="list_script">
            <img class="list_script_thumnail" src="${script_data[0]["thumnail"]}"></img><h1 class="list_script_title">${script_data[0]["title"]}</h1></div>
    </a>`
            }
        }
        get_script_list()
    </script>
</body>

</html>